html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 5rem;
  margin-bottom: 60px;
}

code {
    background: hsl(220, 80%, 90%);
}

pre {
    overflow: scroll;
    white-space: pre-wrap;
    background: hsl(30,80%,90%);
}
